.page {
    display: none;
}
#page1 {
    display: grid;
}

#page2:target{
    #content2 {
        display: grid;
    }
    #page1 {
        display: none;
    }
} 


#page3:target{
    #content3 {
        display: grid;
    }
    #page1 {
        display: none;
    }
} 

#page4:target {
    #content4 {
        display: grid;
    }
    #page1 {
        display: none;
    }
}


#page5:target {
    #content5 {
        display: grid;
    }
    #page1 {
        display: none;
    }
}
