@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 85%;
    margin: auto;
}
header {
    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
header nav {
    display: none;
}
.title {
    font-size: 80px;
    font-family: "Ephesis", cursive, serif;
}
.title:hover {
    font-size: 80px;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.hidden {
    display: none;
}
header {
    padding-top: 10px;
}
nav {
    margin-bottom: 30px;
}
.hamburger-menu{
    width: 100%;
    margin-left: auto;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    margin-bottom: 0;
}
nav a{
    text-decoration: none;
    color: rgb(121, 121, 121);
    padding: 15px;
}
nav ul li:hover {
    a {
        color: rgb(0, 0, 0);
    }
    transform: translateY(4px);
}
table, th, td {
    border: 1px solid rgb(163, 163, 163);
}
th, td {
    padding: 2px;
}
table {
    border-collapse: collapse;
}

.header-text-wrap h1 {
    width: fit-content;
}
.header-text-wrap p {
    background-color: aliceblue;
    width: fit-content;
}
.filters {
    grid-column: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    width: fit-content;
    margin: auto;
}
.photo-card {
    position: relative;
    width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photo-card .top-bar p {
    background-color: aliceblue;
    margin: 0;
    border-bottom: 1px solid rgb(182, 182, 182);
}
.photo-card img {
    margin-top: 10px;
    width: 260px;
    height: 260px;
    margin: auto;
    object-fit: contain;
    transition: all .2s ease-out;
}
.info {
    opacity: 0;
    transition: all .2s ease-out;
    text-align: center;
}
.info p {
    margin: 0;
}
.photo-card:hover {
    .vertical img {
        width: 340px;
        height: auto;
    }
    .horizontal img {
        width: auto;
        height: 340px;
    }
    .info {
        opacity: 1;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}


/* medium devices */
@media only screen and (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
    .filters {
        grid-column: 1 / span 2;
    }
    header nav {
        display: block;
    }
    .hamburger-menu {
        display: none;
    }
    header {
        width: 100%;
        margin: auto;
    }
    .header-text-wrap {
        width: 80%;
        margin: auto;
    }
    
    
}

/* extra large devices */
@media only screen and (min-width: 1200px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .filters {
        grid-column: 1 / span 3;
    }
    header {
        width: 90%;
        margin: auto;
    }
    .header-text-wrap {
        width: 70%;
        margin: auto;
    }
}
